[submodule "StardewProfile"]
	path = StardewProfile
	url = https://github.com/Bumpkin-Pi/StardewProfile
[submodule "typingSpeedTest"]
	path = typingSpeedTest
	url = https://github.com/Bumpkin-Pi/typingSpeedTest.git
