[submodule "StardewProfile"]
	path = StardewProfile
	url = https://github.com/Bumpkin-Pi/StardewProfile
[submodule "typingSpeedTest"]
	path = typingSpeedTest
	url = https://github.com/Bumpkin-Pi/typingSpeedTest
[submodule "BinaryPhone"]
	path = BinaryPhone
	url = https://github.com/Bumpkin-Pi/BinaryPhone.git
