

.topbar {
  background-color: #333;
  overflow: hidden;
}

.topbar a:not(#git) {
  font-family: "Times New Roman", Times, serif;
  float: left;
  color: #f2f2ff;
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover:not(#git) {
  background-color: #ddd;
  color: black;
  -webkit-box-shadow: 1px 11px 18px 13px rgba(0,0,0,0.59); 
box-shadow: 1px 11px 18px 13px rgba(0,0,0,0.59);
}

.topbar a.active {
  background-color: #723F9E;
  color: white;
}

.topbar img {44
	position: relative;
	width: 55px;
	height: center;
	float: right;
}

.images {
	width: 500px;
	height: 500px;
	box-shadow: 4px 4px 14px 2px #333;
	margin: 50px;
	float: left;
}

#title {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #f2f2ff;
	font-weight: 400;
	text-decoration: underline solid #f2f2ff;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
	float: center;
	margin: 50px;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #95959C;
	font-weight: 400;
	font-style: normal;
	float: center;
	margin-left: 50px;
}
